@import url('variables.css');

.coordinates {
  padding: 4em;
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
}

.name {
  font-size: 4em;
  font-weight: bold;
  letter-spacing: .1em;
}

.job-title {
  font-size: 2em;
  font-weight: 200;
  letter-spacing: .25em;
}

.contacts {
  margin: 1em auto;
  max-width: 768px;
}

.contact {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em .5em;
}

.contact__icon {
  margin: 0 1em;
}

.contact__link {
  text-decoration: none;
  color: var(--light-gray);
}

.contact__link:hover {
  text-decoration: underline;
}