.skills {
  margin: 4em 8em;
}

.skill__name {
  margin: .5em;
  text-align: center;
  font-size: 3.5em;
  font-weight: bold;
}

.trait {
  margin: 2em 0;
  display: grid;
  grid-template-columns: 2em 13% 1fr;
  align-items: center;
}

.trait__icon {
  grid-column: 1;
  text-align: center;
  font-size: 1.5em;
}

.trait__name {
  grid-column: 2;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.trait__description {
  grid-column: 3;
  text-align: justify;
}