@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/solid.css');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/brands.css');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css');

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
  -webkit-print-color-adjust: exact;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: #13a094;
}

.header {
  width: 100%;
  background: linear-gradient(to right, #13a094, #085c8d);
  color: #fafafa;
  padding: 4rem 0;
}

.name {
  text-align: center;
  margin-bottom: .4rem;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: .4rem;
}

.titles {
  text-align: center;
  list-style: none;
}

.title {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .15rem;
  font-size: .8rem;
}

.title:not(:last-child)::after {
  content: '/';
  margin: 0 .8rem;
}

.body {
  color: #404040;
  display: flex;
  margin: 1.5rem;
}

.aside {
  padding: 2rem;
  max-width: 24rem;
}

.aside__section {
  margin-bottom: 3rem;
  page-break-inside: avoid;
}

.contacts {
  list-style: none;
}

.contact {
  display: block;
  font-size: .9rem;
  letter-spacing: .03rem;
  margin-bottom: .5rem;
}

.contact__link {
  text-decoration: none;
  font-size: .9rem;
  letter-spacing: .03rem;
  color: #404040;
}

.contact__icon {
  width: 2rem;
}

.about-paragraph {
  text-indent: 1rem;
  line-height: 1.4rem;
  font-size: .9rem;
}

.language,
.techno {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.language__icon,
.techno__icon {
  margin-right: 1rem;
  width: 4rem;
  text-align: center;
}

.language__icon>img,
.techno__icon>img {
  max-width: 2rem;
  max-height: 2rem;
}

.language__name,
.techno__name {
  font-size: .9rem;
  letter-spacing: .03rem;
}

.job {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1.6rem;
}

.job__period {
  grid-column: 1;
  grid-row: 1;
  font-size: .8rem;
}

.job__structure {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
  font-size: .8rem;
}

.job__title {
  grid-column: 1 / span 2;
  grid-row: 2;
  font-size: .8rem;
  font-weight: bold;
}

.job__details {
  grid-column: 1 / span 2;
  grid-row: 3;
  font-size: .8rem;
  font-style: italic;
}

.main {
  flex: 1;
  padding: 2rem;
}

.aside__title,
.main__title {
  font-size: 1.7rem;
  letter-spacing: .04rem;
  margin-bottom: 1.2rem;
}

.main__section {
  margin-bottom: 2rem;
  page-break-inside: avoid;
}

.main__paragraph {
  font-size: .9rem;
  text-indent: 1.2rem;
  margin-bottom: .8rem;
  line-height: 1.4rem;
  letter-spacing: .03rem;
}

.main__paragraph>strong,
.main__paragraph>em {
  font-size: .9rem;
}

.main__paragraph>img {
  max-width: 1.2rem;
  max-height: 1.2rem;
}