@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/solid.css');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/brands.css');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css');

* {
	margin: 0;
	padding: 0;
	font-family: 'Karla', sans-serif;
  -webkit-print-color-adjust: exact;
}

.header {
  width: 100%;
  background: linear-gradient(to bottom right, #b13333, #3b0319);
  color: #fafafa;
}

.name {
  text-align: center;
}

.titles {
  text-align: center;
  list-style: none;
}

.title {
  display: inline-block;
  text-transform: uppercase;
}

.title:not(:last-child)::after {
  content: '/';
}

.body {
  color: #404040;
  display: flex;
}

.contacts {
  list-style: none;
}

.contact {
  text-align: right;
  display: block;
}

.contact__link {
  text-decoration: none;
  color: #404040;
}
