.react-icon {
  color: #61DAFB;
}

.vue-icon {
  color: #41b883;
}

.angular-icon {
  color: #DD0031;
}

.node-icon {
  color: #689f63;
}

.python-icon {
  color: #2665b8;
}

.java-icon {
  color: #dd5837;
}

.js-icon {
  color: #e2ac17;
}